.view--country {
    width: 80%;
    margin: 2em auto;
    max-width: 550px;

    .country-name {
        font-size: 3em;
        margin: 2rem 0;
        line-height: 1em;

        h1 {
            margin: 0;
            margin-left: 1.4em;
            padding: 0;
            font-size: 1em;
            line-height: 1em;
        }

        .country-flag {
            width: 1em;
            height: 1em;
            background-size: cover;
            background-position: center;
            border-radius: 100%;
            border: 2px solid white;
            float: left;
            box-sizing: border-box;
        }
    }

    .country-bar-chart {
        height: 0.4em;
        background: #315385;
        margin: 3px 0;

        .country-bar-chart-fill {
            height: 100%;
            background: #23ae33;
        }
    }
    .country-bar-note {
        color: #ccc;
        text-align: right;
        font-size: 0.8em;
    }

    .country-stats {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 2em;

        li {
            margin-bottom: 1em;

            i {
                width: 2em;
            }
        }
    }

    .country-charts {
        display: flex;
        margin-bottom: 2em;

        .chart {
            flex: 0 0 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &.chart--pie {
                svg {
                    text.title {
                        text-transform: capitalize;
                        text-anchor: middle;
                        fill: white;
                        font-size: 1em;
                    }
                }
            }
        }
    }

    .country-language-graph {
        h3 {
            margin: 0;
            font-size: 1em;
            font-weight: normal;
            text-align: center;
        }
        .axis path,
        .axis line {
            stroke: #315385;
        }
        text {
            fill: white;
        }
    }

    @media (max-width: 500px) {
        .country-charts {
            flex-direction: column;

            .chart {
                flex: 0 0 100%;
            }
        }
    }
}