.dateRange {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 220px;
    display: flex;
    align-items: flex-end;

    > div {
        transition: background 0.1s, height 0.3s;
        flex: 1 1 auto;
        background: rgba(116, 242, 131, 0.7);
        margin: 0 2px;
        color: white;
        font-size: 0.8em;
        display: flex;
        text-align: center;
        align-items: flex-end;
        cursor: pointer;

        &.deactive:not(:hover) {
            background: rgba(96, 122, 183, 0.35)
        }

        > div {
            flex-grow: 1;
            margin-bottom: 0.4em;
        }
    }

    @media (max-width: 800px) {
        display: none;
    }
}