.view--home {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .instructions {
        position: absolute;
        top: 0;
        left: 0;
        margin: 1em 1em 0;

        h1 {
            margin-top: 0;
        }

        a {
            color: #23ae33;
        }
    }

    @import 'map';
    @import 'dateRange';

    @media (max-width: 800px) {
        .instructions {
            position: relative;

            p:not(:first-of-type):not(:last-of-type) {
                display: none;
            }
        }
    }
}