.map {
    display: flex;
    flex: 1 1 auto;

    .map-projection-toggle {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.4em;
        cursor: pointer;
        background: #242B36;

        i {
            padding: 0.5em;

            &.active {
                color: #23ae33;
            }
        }
    }

    svg {
        flex: 1 1 auto;

        .background {
            fill: #242B36;
        }

        .country {
            &.country--deactive {
                fill: #29384E;
            }

            &:not(.country--deactive):hover {
                cursor: pointer;
                fill: #23ae33;
            }
        }
    }

}

.map-tooltip {
    position: absolute;
    background: #29384E;
    pointer-events: none;
    padding: 0.5em;
    line-height: 1em;

    h1 {
        margin: 0;
        margin-left: 1.4em;
        padding: 0;
        font-size: 1.4em;
        line-height: 1em;
    }

    .map-tooltip-flag {
        width: 1.4em;
        height: 1.4em;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        border: 2px solid white;
        float: left;
        box-sizing: border-box;
    }

    p {
        margin: 0.5em 0 0;

        &.map-tooltip-cta {
            font-size: 0.7em;
            color: #23ae33;
        }
    }
}