html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


body {
    display: flex;
    background: #242F3F;
    color: white;
    font-family: 'Lato', sans-serif;
}


a {
    color: white;
    text-decoration: none;

    &:hover {
        color: #23ae33;
    }
}

#App {
    flex: 1 1 auto;
    display: flex;

    @import 'home';
    @import 'country';

}