html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  display: flex;
  background: #242F3F;
  color: white;
  font-family: 'Lato', sans-serif; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: #23ae33; }

#App {
  flex: 1 1 auto;
  display: flex; }
  #App .view--home {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column; }
    #App .view--home .instructions {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1em 1em 0; }
      #App .view--home .instructions h1 {
        margin-top: 0; }
      #App .view--home .instructions a {
        color: #23ae33; }
    #App .view--home .map {
      display: flex;
      flex: 1 1 auto; }
      #App .view--home .map .map-projection-toggle {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.4em;
        cursor: pointer;
        background: #242B36; }
        #App .view--home .map .map-projection-toggle i {
          padding: 0.5em; }
          #App .view--home .map .map-projection-toggle i.active {
            color: #23ae33; }
      #App .view--home .map svg {
        flex: 1 1 auto; }
        #App .view--home .map svg .background {
          fill: #242B36; }
        #App .view--home .map svg .country.country--deactive {
          fill: #29384E; }
        #App .view--home .map svg .country:not(.country--deactive):hover {
          cursor: pointer;
          fill: #23ae33; }
    #App .view--home .map-tooltip {
      position: absolute;
      background: #29384E;
      pointer-events: none;
      padding: 0.5em;
      line-height: 1em; }
      #App .view--home .map-tooltip h1 {
        margin: 0;
        margin-left: 1.4em;
        padding: 0;
        font-size: 1.4em;
        line-height: 1em; }
      #App .view--home .map-tooltip .map-tooltip-flag {
        width: 1.4em;
        height: 1.4em;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        border: 2px solid white;
        float: left;
        box-sizing: border-box; }
      #App .view--home .map-tooltip p {
        margin: 0.5em 0 0; }
        #App .view--home .map-tooltip p.map-tooltip-cta {
          font-size: 0.7em;
          color: #23ae33; }
    #App .view--home .dateRange {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 220px;
      display: flex;
      align-items: flex-end; }
      #App .view--home .dateRange > div {
        transition: background 0.1s, height 0.3s;
        flex: 1 1 auto;
        background: rgba(116, 242, 131, 0.7);
        margin: 0 2px;
        color: white;
        font-size: 0.8em;
        display: flex;
        text-align: center;
        align-items: flex-end;
        cursor: pointer; }
        #App .view--home .dateRange > div.deactive:not(:hover) {
          background: rgba(96, 122, 183, 0.35); }
        #App .view--home .dateRange > div > div {
          flex-grow: 1;
          margin-bottom: 0.4em; }
      @media (max-width: 800px) {
        #App .view--home .dateRange {
          display: none; } }
    @media (max-width: 800px) {
      #App .view--home .instructions {
        position: relative; }
        #App .view--home .instructions p:not(:first-of-type):not(:last-of-type) {
          display: none; } }
  #App .view--country {
    width: 80%;
    margin: 2em auto;
    max-width: 550px; }
    #App .view--country .country-name {
      font-size: 3em;
      margin: 2rem 0;
      line-height: 1em; }
      #App .view--country .country-name h1 {
        margin: 0;
        margin-left: 1.4em;
        padding: 0;
        font-size: 1em;
        line-height: 1em; }
      #App .view--country .country-name .country-flag {
        width: 1em;
        height: 1em;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        border: 2px solid white;
        float: left;
        box-sizing: border-box; }
    #App .view--country .country-bar-chart {
      height: 0.4em;
      background: #315385;
      margin: 3px 0; }
      #App .view--country .country-bar-chart .country-bar-chart-fill {
        height: 100%;
        background: #23ae33; }
    #App .view--country .country-bar-note {
      color: #ccc;
      text-align: right;
      font-size: 0.8em; }
    #App .view--country .country-stats {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 2em; }
      #App .view--country .country-stats li {
        margin-bottom: 1em; }
        #App .view--country .country-stats li i {
          width: 2em; }
    #App .view--country .country-charts {
      display: flex;
      margin-bottom: 2em; }
      #App .view--country .country-charts .chart {
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center; }
        #App .view--country .country-charts .chart.chart--pie svg text.title {
          text-transform: capitalize;
          text-anchor: middle;
          fill: white;
          font-size: 1em; }
    #App .view--country .country-language-graph h3 {
      margin: 0;
      font-size: 1em;
      font-weight: normal;
      text-align: center; }
    #App .view--country .country-language-graph .axis path,
    #App .view--country .country-language-graph .axis line {
      stroke: #315385; }
    #App .view--country .country-language-graph text {
      fill: white; }
    @media (max-width: 500px) {
      #App .view--country .country-charts {
        flex-direction: column; }
        #App .view--country .country-charts .chart {
          flex: 0 0 100%; } }
